
    <main class="container">
        <h1>Our Services</h1>

        <section id="services" class="current">
            <div class="services-top">
                <div class="container bootstrap snippets bootdey">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-md-12">
                            <h2>What We Offer</h2>
                            <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
                            <p>Our <span class="highlight">experienced</span> and <span class="highlight">dedicated</span> staff provide these services with a smile.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                            <div class="services-list">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4 col-md-4">
                                        <div class="service-block" style="visibility: visible;">
                                            <div class="ico fa fa-magic highlight"></div>
                                            <div class="text-block">
                                                <div class="name">Event Planning</div>
                                                <div class="info">Beauty and function</div>
                                                <div class="text">WE offer to plan all you event needs based on your Bugdet</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-md-4">
                                        <div class="service-block" style="visibility: visible;">
                                            <div class="ico fa fa-code highlight"></div>
                                            <div class="text-block">
                                                <div class="name">Decorating</div>
                                                <div class="info">Quality code that lasts</div>
                                                <div class="text">We Can Decorate Any Event</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-md-4">
                                        <div class="service-block" style="visibility: visible;">
                                            <div class="ico fa fa-pencil highlight"></div>
                                            <div class="text-block">
                                                <div class="name">Copy Writing</div>
                                                <div class="info">Rental Services</div>
                                                <div class="text">Chairs! Tables! Charters we got it all for you rental needs </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
